<footer class="space all-plus">
  <div>
      <nav class="footer">
          <div></div>
          
          {{ $currentPage := .}}
            {{ range .Site.Menus.main }}
              
                <p class="kill-margin "><a class="color-grey-d" href="{{ .URL }}">{{ .Name }}</a></p>
              
            {{ end }}
          
        </nav>
  </div>
  <div>
    
      <div><a href="{{.Site.Social.linkedinlink}}"><ion-icon size="large" name="logo-linkedin"></ion-icon></a></div>
      <div><a href="{{.Site.Social.githublink}}"><ion-icon size="large" name="logo-github"></ion-icon></a></div>
  </div>
  <div>
      <p class="color-grey-d">Wow, impressive to have made it this far. I would give you a <ion-icon name="star-outline"></ion-icon> if I could.
        But, a <ion-icon name="happy"></ion-icon> will have to do. Thanks for checking out my developing data portfolio. <a
          class="link dark" href="https://github.com/LucasZapico/dev.lucaszapico.spacce" target="_blank">Here is the
          code under the hood if that is your thing.</a> </p>    
          <!-- <a id="credits">credits</a> -->
      </div>
</footer>
