{{define "main"}}
<main id="about" class="space-hor">
  <div class="in-right">
    <h3 class="space bottom">I learn, analysis, create, and iterate.</h3>
    <h5>The Method</h5>
    <p>
      My method is to immersed, discuss, ship, get feedback, and to be patient
      because understanding and quality both take time and effort.
    </p>
    <h5>The Objective</h5>
    <p>
      I enjoy nothing more then building something efficient and competitive!
      The process itself is an addiction. I am energized by democratizing the
      creative process and exploring the unique, clever, strange, and sometime
      hilarious solutions that open collaborations fosters.
    </p>
    <h5>The Tools</h5>
    <p>
      I am a React and JavaScript developer with experience and comfort across the entire stack. On the backend I prefer Nodejs or Python. <a class="" href="/#skills">See other technologies I use.</a>
    </p> 
      
  </div>
  {{ partial "portrait.html" . }} {{ .Content }}
  <a class="btn--fancy" href="/#production">See some work</a>
</main>

{{end}}
