.posts-card {
  &--container {
    diplay: flex;
    justify-content: space-between;
  }

  &--post {
    background-color: $light;
    flex-basis: 90%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.project-card {
  &--container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.project-card {
  &--post {
    margin-right: 2rem;
    margin-bottom: 4rem;
  }
  &--featured-img {
    height: 300px;
  }
}
.post {
  position: relative;
  & > * {
    max-width: 620px;
    margin: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }
  p {
    img {
      width: 100%;
    }
  }
  &--toc {
    ul {
      list-style: none;
      margin: 0px;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      li {
        margin: 0px;
        padding: 0.5rem;
      }
    }
  }
}

.card {
}
@media screen and (min-width: 800px) {
  .post {
    &--toc {
    }
  }

  .project-card {
    &--post {
      flex-basis: 40%;
      width: 40%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .post {
    & > * {
      max-width: 800px;
      margin: auto;
    }
  }
}
