nav {
  display: flex;
  justify-content: flex-end;

  ul {
    justify-content: space-around;
    display: flex;
    list-style: none;
    li {
      padding: 1rem;
      a {
        // text-decoration: none;
      }
    }
  }
  &.footer--nav {
    justify-content: flex-start;
    flex-direction: column;
    ul {
      flex-direction: column;
    }
  }
}
