/****
*** PLay
***
*/
body {
  margin: 0;
  max-width: 100vw;
  background-color: $light;
  a {
    position: relative;
    color: $grey-d-3;
    // text-decoration: none;
    text-decoration-color: $colord;
    
    &.link:hover, &.link:focus, &.link:active  {
      border-bottom: $colord solid 1px;
    }
  }
}

/***
** About
**
**/

main#about {
  
}

@media screen and (min-width: 800px){
  main#about {
    h3,
    p {
      max-width: 40vw;
    }
    
  } 
}

/***
**
**  Load Animations 
***/
// Start State 

body {
  .in-left {
    transform: translateX(100vw);
  }
  .in-right {
    transform: translateX(100vw);
  }
  .in-top {
    transform: translateY(-100vw);
  }
  .in-bottom {
    transform: translateY(100vw);
  }
  &.loaded {
    .in-left {
      transform: translateX(100vw);
      animation: from-left 1.5s 1 ease-in-out forwards;
    }
    .in-right {
      transform: translateX(-100vw);
      animation: from-right 1.5s 1 ease-in-out forwards;
    }
    .in-top {
      transform: translateY(-100vw);
      animation: from-top 1.5s 1 ease-in-out forwards;
    }
    .in-bottom {
      transform: translateY(100vw);
      animation: from-bottom 1.5s 1 ease-in-out forwards;
    }
  }
  @keyframes from-left {
    to {
      transform: translate(0)
    }
  }
  @keyframes from-right {
    to {
      transform: translate(0)
    }
  }
  @keyframes from-top {
    to {
      transform: translate(0)
    }
  }
  @keyframes from-bottom {
    to {
      transform: translate(0)
    }
  }
}




/***
**
**  LEAVES
***/

#leaves {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all linear .3s;
}



/***
**
**  PORTRAIT
***/

#portrait {
  margin: auto;
  path {
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
    animation: dash 5s linear forwards;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}

#scroll {
  padding-top: 2rem;
  width: 100%;
  opacity: .7;
  div:first-child {
    margin: auto;
    text-align: center;
    animation: drip 2s ease-in infinite alternate;
  }
  div:last-child {
    z-index: 20;
    // opacity: .7;
    margin: auto;
   height: 75px;
     width: 75px;
   border-radius: 100%;
    background-color: $grey-d-3;
   animation: drip 2s ease-in-out infinite alternate;
   
  @keyframes drip {
    to {
      transform: translateY(2rem) scale(.60);
    }
  }
  @keyframes bounce {
    to {
      transform: translateY(-1rem);
    }
  }
  }
}

/* 
**
** BUTTONS
**/


.btn {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 12rem;
  // border-bottom: solid 1px $colord;

  font: {
    size: 2rem;
  }

  z-index: 2;
  position: relative;

  &:after {
    z-index: -1;
    position: absolute;
    opacity: 0.6;
    content: "";
    background: $colord;
    height: 3rem;
    width: 3rem;
    top: -1rem;
    left: -1rem;
    border-radius: 50%;
    transition: all .2s ease-in-out;
  }

  &:focus,
  &:hover {
    &:after {
      top: -1rem;
      left: -1rem;
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-radius: 30px;
    }
  }
}

a.link {
  color: $colord;
  border-bottom: solid $colord 6px;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: lighten($colord, 10%);
    border-bottom: solid darken($colord, 20%) 6px;
  }

  &:focus {
    color: lighten($colord, 10%);
    border-bottom: solid darken($colord, 20%) 6px;
  }
}
