@media screen and (min-width: 800px) {
  main {
    header {
      // display: flex;

      h1 {
        margin-left: 50%;
        max-width: 50%;
      }

      h4 {
        margin-left: 50%;
        max-width: 50%;
      }
    }

    section {
      min-height: 70vh;

      &:first-of-type {
        div:first-child {
          margin-left: 50%;
          max-width: 50%;
        }
      }
      &.skill-cards--container {
        display: flex;
        .card {
          flex-basis: 40%;
          margin-left: 1rem;
          & > .header {
          }
        }
      }

      &.workhappens--container {
        & > div {
          display: flex;
          flex-direction: row;
          align-items: baseline;
        }
      }

      // & {
      //   & > div {
      //     margin: auto;
      //     max-width: 50%;
      //   }
      // }

      // Home Project tile
      &.skill-viz--container {
        & > div:nth-of-type(1) {
          max-width: 40%;
          margin: auto;
        }
        .tile-wrap {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;

          justify-content: space-between;

          a,
          div {
            flex-grow: 1;
            flex-shrink: 1;
            max-width: 40vw;
          }
        }
      }
    }
  }
}
