$colora: #5bd1d7;
$colorb: #348498;
$colorc: #004d61;
$colord: #ff502f;

.color-a {
  color: $colora;
}

.color-b {
  color: $colorb;
}

.color-c {
  color: $colorc;
}

.color-d {
  color: $colord;
}

.color-light {
  color: $light;
}

.color-bark {
  color: $dark;
}

.color-grey-l {
  color: $grey-l-1;
}

.color-grey-m {
  color: $grey-m-2;
}

.color-grey-mm {
  color: $grey-m-3;
}

.color-grey-d {
  color: $grey-d-2;
}
