{{ define "main" }}
<main class="space top-plus bottom-plus">

  <header class="space-hor">

    <h1 class="color-d in-left bg-light">Hi, I'm Lucas<br> I design and build function and experience on the web</h1>

  </header>

  <section class="space-hor ">
    <div class="in-left">
      <h4 class="color-c bg-light char-80">I love discussing, playing with, and solving problems of all shape size. I am drawn to the
        digital space because of the speed of iteration and the seemingly infinite opportunities to do more. My todo list
        is life long and I wouldn't have it any other way.</h4>
        {{/*  fix button hover effect  */}}
      <a class="btn btn--fancy" href="about/">More about the human</a>
    </div>
    <div id="scroll">
      <div>
        <h5>Scroll</h5>
      </div>
      <div>
        <div>
          <div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
    {{ partial "leaves.html" . }}

  </section>
  <section class="space all-plus project--container">
    <h3 href="#production"  class="exa kill-margin">Projects</h3>
    <h5 class="kill-margin color-grey-mm">Collection of recent professional and personal projects</h5>
<div class="project-card--container space-top">
    {{ range first 8 .Site.Data.projects_v1 }}
    {{ $featuredImg := resources.Get .featured_img }} 
    {{ if eq .show true }}
        <div class="project-card--post">
            <div class="project-card">
              <img class="project-card--featured-img"src="{{ $featuredImg.Permalink }}"/>
            </div>
            <h4 class="kill-margin"><a href="{{ .link }}" target="_blank">{{ .title }}</a>{{" "}}<ion-icon name="open-outline"></ion-icon></h4>
            <h5 class="kill-margin color-grey-mm">{{ .excerpt}}</h5>
            <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
            <div><p>{{ .summary}}</p></div>
            <div>{{ .categories}}</div>
        </div>
        {{ end }}
    {{ end }}
  </div>
  </section>
<!-- Work -->
  <section class="space all-plus posts--container">
    <h3 href="#production"  class="exa kill-margin">Stream Of Production</h3>
    <h5 class="kill-margin color-grey-mm"></h5>

    <div class=" space-top">
                  <div class="posts-card--container">
    {{ range first 10 .Site.RegularPages }}
    {{ if eq .Params.isPost true }}
        <div class="posts-card--post">
            <h4 class="kill-margin"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
            <h5 class="kill-margin color-grey-mm">{{.Params.excerpt}}</h5>
            <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
            <div>{{.Params.categories}}</div>
            <div><p>{{.Summary}}</p></div>
        </div>
        {{ end }}
    {{ end }}
</div>

      {{ range $.Site.Data.projects_v1 }}
      {{ if .show }}
      <a href="https://codepen.io/LucasZapico/pen/{{.link}}" target="_blank">
        <div style="background-image: url('https://codepen.io/LucasZapico/pen/{{.screenShot}}')">
        </div>
      </a>
      {{end}}
      {{ end }}
    </div>


  </section>

  <!-- Design Dev Cards -->
  <!-- <section class="space-hor space top-plus skill-cards--container">
    {{ range $.Site.Data.spaces_v1_1 }}
    <div class="card">
      <div class="header">
        <h3 class="color-grey-mm peta">{{ .title }}</h3>
        <h4 class='color-grey-d space kill-margin minus bottom'>{{ .caption }}</h4>
        {{/*  <a class="link space minus top">Read more about my core principles</a>  */}}

      </div>
      <div class="body">
        <h4 class="color-d kill-margin space plus top">What I Make</h4>
        <h6 class="space minus top kill-margin">
          {{ .make }}
        </h6>
        <h4 class="space top-minus">My {{.title}} Tool Box</h4>
        {{ range .tools }}
        <p class="kill-margin"><a>{{.}}</a></p>
        {{ end}}
      </div>

    </div>
    {{ end }}
  </section> -->
  <section class="space all-plus workhappens--container">
      <h3 href="#projects"  class="kill-margin exa">Where Work Happens</h3>
      <h5 class="kill-margin color-grey-mm">A few other places on the internet where I get build stuff.</h5>
      <div class="space-top">
    {{ range $.Site.Data.workshops }}
    <div class="space slidetile-container">

      <div><img src="{{ .icon }}"></img></div>
      <div class="content">
        <h5 class="kill-margin">{{ .title }}<ion-icon name="open"></ion-icon>
        </h5>
        <p class="kilo">{{.description}}</p>
      </div>

    </div>
    {{ end }}
  </div>
  </section>

  <!-- Skill viz section  -->
  <section class="space-hor skill-viz--container">
    <h3 class="exa kill-margin">Skills</h3>
    <h5 class="kill-margin color-grey-mm">Some general technologies and how I stack.</h5>
    <div class="space-top">
      <div>
        <p>
          learning
        </p>
        <p>
          experienced
        </p>
        <p>
          competent
        </p>
        <p>
          proficient
        </p>
        <p>
          expert
        </p>
      </div>
      <div>
        {{ range $.Site.Data.skills_v1_1 }}
        <div>
          <div style="width:{{ .level }}% ">
            {{ .name }}
          </div>
        </div>
        {{ end  }}
      </div>

    </div>

  </section>

</main>

{{ end }}