{{ define "main" }}
<main class="space all plus">
  <header>
    <h1 class="color-d">Hi, I'm Lucas<br> I design and build function and experience on the web</h1>
  </header>
  <section>
    <h4 class="color-c">I love discussing, playing with and solving problems of all shape size. I am drawn to the digital space because of the speed of iteration and the seemingly infinite opportunites to do more (little mircosoft ;)). My todo list
      is life long and I wouldn't have it any other way.</h4>
    <a class="link">More about the human</a>
  </section>
  <!-- Design Dev Cards -->
  <section>
    {{ range $.Site.Data.spaces_v1_1 }}
    <div class="card">
      <div class="header">
        <h3 class="color-d peta">{{ .title }}</h3>
        <h4 class='color-grey-d space kill-margin minus bottom'>{{ .caption }}</h4>
        <a class="link space minus top">Read more about my core principles</a>

      </div>
      <div class="body">
        <h4 class="color-d kill-margin space plus top">What I Make</h4>
        <h6 class="space minus top kill-margin">
          {{ .make }}
        </h6>
        <h4>My Tool Box</h4>
        {{ range .tools }}
        <p class="kill-margin"><a>{{.}}</a></p>
        {{ end}}
      </div>

    </div>
    {{ end }}
  </section>
  <!-- Projects -->
  <section>
    <h3 class="exa">My Projects</h3>

    <div class="tile-wrap">
      {{ range $.Site.Data.projects_v1}}
      <a href="https://codepen.io/LucasZapico/pen/{{.link}}" target="_blank">
        <div style="background-image: url('https://codepen.io/LucasZapico/pen/{{.screenShot}}')">
        </div>
      </a>
      {{ end }}
    </div>


  </section>
  <!-- Skill viz section  -->
  <section>
    <h2>Some Skils</h2>
    <div>
      <div>
        <p>
          learning
        </p>
        <p>
          experienced
        </p>
        <p>
          competent
        </p>
        <p>
          proficient
        </p>
        <p>
          expert
        </p>
      </div>
      <div>
        {{ range $.Site.Data.skills_v1_1 }}
        <div>
          <div style="width:{{ .level }}% ">
            {{ .name }}
          </div>
        </div>
        {{ end  }}
      </div>

    </div>

  </section>
  <section>
    <div class="bg-grey-m color-grey-d">

      <div>
        <h6>Looking for something more official --> <a class="link">Resume</a>
        </h6>

      </div>
      <div class="">
        <h6>
          See my code in action,
          <a class="link">Checkout the code for this site</a></h6>
      </div>
    </div>
  </section>

</main>
{{ end }}