<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
  {{- partial "header.html" . -}}
  <div id="content">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
</body>
{{ $t1 := resources.Get "/js/test.js" }}
{{ $t2 := resources.Get "/js/test2.js" }}
{{ $lazy := resources.Get "/js/lazysizes.min.js" }}
{{ $script := resources.Get "/js/script.js" }}
{{ $js := slice $t1 $t2 $lazy $script | resources.Concat "js/bundle.js" }}
<script type="text/javascript" src="{{ $js.Permalink }}">
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</html>